@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

body {
  /* lightbox sin abrir */
  /* lightbox abierto */
  /* Contenido de Lightbox */
  /* Botón Cerrar */
  /* superposición Lightbox */
}
body h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: #495057;
}
body p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #495057;
}
body h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  color: #495057;
  text-align: center;
  margin: 10px 0;
}
body header {
  background-color: #FFFCFA;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 10;
  width: 100%;
}
body header .mainNav {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}
body header .mainNav .menu ul {
  display: flex;
  justify-content: space-around;
  color: #A5A3A1;
}
body header .mainNav .menu ul li {
  padding: 0 10px;
}
body header .mainNav .menu ul li a {
  text-decoration: none;
  color: #737270;
  font-family: "Roboto", sans-serif;
}
body header .mainNav .menu ul li a:hover {
  font-weight: bold;
}
body #inicio {
  margin-top: 80px;
}
body #inicio .mainCarrousel #carouselExampleFade .carousel-inner {
  margin: auto;
  width: 100%;
}
body #inicio .mainCarrousel #carouselExampleFade .carousel-inner .carousel-item .active .imgsize {
  height: 300px;
}
body .mainBannerMob {
  display: none;
}
body .mainBanner img {
  width: 100%;
}
body .container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
body .container .staffDescription {
  margin: 40px;
  display: flex;
  flex-direction: column;
}
body .container .productContainer {
  margin: 40px;
  display: flex;
  flex-direction: column;
}
body .container .productContainer .seeMore {
  margin: 20px;
}
body .container .productContainer .seeMore a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #B33D68;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
body .container .productContainer .seeMore a:hover {
  background-color: #B33D68;
  color: #FFFCFA;
}
body .container .social {
  margin: 40px;
}
body .container .social p {
  margin: 20px;
}
body .container .social p a {
  color: #737270;
}
body .container .social p a i {
  margin-right: 5px;
}
body .container .service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .container .service .flip-card {
  background-color: transparent;
  width: 150px;
  height: 50px;
  perspective: 1000px;
  margin: 15px;
}
body .container .service .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
body .container .service .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}
body .container .service .flip-card .flip-card-inner .flip-card-front, body .container .service .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
body .container .service .flip-card .flip-card-inner .flip-card-front {
  border: 3px solid #B33D68;
  box-sizing: border-box;
  border-radius: 10px;
}
body .container .service .flip-card .flip-card-inner .flip-card-front p {
  margin: 12px 0px;
}
body .container .service .flip-card .flip-card-inner .flip-card-back {
  background-color: #B33D68;
  transform: rotateY(180deg);
  border-radius: 10px;
}
body .container .service .flip-card .flip-card-inner .flip-card-back a {
  text-decoration: none;
}
body .container .service .flip-card .flip-card-inner .flip-card-back a p {
  margin: 12px 0px;
  color: #FFFCFA;
  text-align: center;
  font-weight: bold;
}
body .lightbox {
  display: none;
}
body .lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .lightbox figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #efeeed;
  border-radius: 5%;
}
body .lightbox .close {
  position: relative;
  display: block;
}
body .lightbox .close::after {
  right: -2rem;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  content: "×";
  cursor: pointer;
}
body .lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  cursor: default;
}

.footerContainer {
  margin-top: 10px;
  background-color: #FFFCFA;
  width: 100%;
}
.footerContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.footerContainer div p {
  margin: 2px;
}
.footerContainer div p a {
  color: #737270;
}
.footerContainer div p a i {
  margin-right: 2px;
}

@media (max-width: 500px) {
  .mainNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    margin: 10px;
  }
  .mainNav .menu {
    display: none;
  }

  .mainCarrousel {
    display: none;
  }

  .mainBannerMob {
    display: block;
  }
  .mainBannerMob img {
    width: 100%;
  }

  .container {
    margin-top: 10px;
  }
  .container .staffDescription, .container .productContainer, .container .social {
    margin: 10px;
  }
  .container .imgstaff, .container .imgProd, .container .locationMap {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
