html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

body h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: #495057;
}
body p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #495057;
}
body h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  color: #b58e0f;
  text-align: center;
}
body header {
  background-color: #FFF;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  z-index: 10;
  width: 100%;
  align-items: center;
  padding: 10px;
}
body header .logo {
  display: flex;
  justify-content: center;
}
body header .logo a img {
  width: 50px;
  height: 50px;
}
body header nav, body header ul {
  display: flex;
}
body header nav li, body header ul li {
  padding-right: 20px;
}
body header nav li a, body header ul li a {
  text-decoration: none;
  color: #b58e0f;
}
body header nav li a span, body header ul li a span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
body header nav li a:link, body header ul li a:link {
  text-decoration: none;
}
body header nav li a:hover, body header ul li a:hover {
  color: #737270;
}
body .main-container {
  width: 100%;
  margin-top: 65px;
}
body .main-container #inicio .mainCarrousel #carouselExampleFade .carousel-inner {
  margin: auto;
  width: 100%;
}
body .main-container #inicio .mainCarrousel #carouselExampleFade .carousel-inner .carousel-item .active .imgsize {
  height: 300px;
}
body .mainBanner img {
  width: 100%;
}
body .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
}
body .container #present {
  padding-top: 70px;
}
body .container .profile-name {
  font-family: "Roboto Condensed", sans-serif;
  color: #b58e0f;
  font-size: 40px;
  padding: 30px;
}
body .container .profile-profession {
  padding: 10px;
  font-size: 30px;
}
body .container .profile {
  margin: 10px;
  display: flex;
}
body .container .profile .profile-pic {
  margin-right: 10px;
}
body .container .profile .profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
body .container .profile .profile-extract p {
  font-family: "Roboto", sans-serif;
  color: #495057;
  font-style: italic;
  text-align: center;
}
body .container .services #cirugia {
  padding-top: 70px;
}
body .container .services #estetica {
  padding-top: 70px;
}
body .container .services .services-container .description {
  margin: auto;
  padding-top: 30px;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .container .services .services-container .description .card {
  width: 300px;
  margin: 8px;
  text-align: center;
  height: 50px;
  display: flex;
  border: 0px solid rgba(0, 0, 0, 0.125);
}
body .container .services .services-container .description .card .card-inner {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  width: 100%;
  border: 3px solid #b58e0f;
  box-sizing: border-box;
  border-radius: 10px;
}
body .container .services .services-container .description .card .card-inner a {
  text-decoration: none;
}
body .container .services .services-container .description .card .card-inner a p {
  margin: 12px 0px;
  text-transform: uppercase;
}
body .container #contacto {
  padding-top: 70px;
}
body .container .contact-info {
  padding-top: 20px;
}
body .container .contact-info .social {
  display: flex;
}
body .container .contact-info .social p {
  margin: 10px;
}
body .container .contact-info .social p a {
  text-decoration: none;
  color: #737270;
}
body .container .contact-info .social p a i {
  margin-right: 5px;
  color: #b58e0f;
}
body .container .contact-info .locationMap iframe {
  width: 800px;
}
body .container .service-title {
  padding-top: 40px;
  width: 70%;
  color: #b58e0f;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}
body .container .service-presentation {
  width: 100%;
  display: flex;
  margin-top: 30px;
  align-items: center;
}
body .container .service-presentation .service-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .container .service-presentation .service-list .service-subtitle {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  font-size: 30px;
}
body .container .service-presentation .service-list ul {
  padding: 10px;
  background-color: #efeeed;
}
body .container .service-presentation .service-list ul li {
  padding: 10px;
}
body .container .service-presentation .service-list ul li h2 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}
body .container .service-presentation .service-list ul li p {
  font-size: 15px;
  text-transform: initial;
}
body .container .service-presentation .service-list ul li ul li {
  list-style-type: circle;
  text-transform: initial;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
body .container .service-presentation .service-list .service-pic {
  margin: 40px;
  align-content: center;
}
body .container .service-presentation .service-list .service-pic img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
body .footerContainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  bottom: 0px;
}
body .footerContainer .footerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
}
body .footerContainer .footerNav p {
  margin: 2px;
  font-size: 12px;
  margin: 5px;
}
body .footerContainer .footerNav p a {
  text-decoration: none;
  color: #b58e0f;
}
body .footerContainer .footerNav p a i {
  margin-right: 2px;
}
body .footerContainer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
body .footerContainer .copyright p {
  margin: 2px;
  font-size: 12px;
  font-weight: bold;
}
body .footerContainer .copyright p span {
  color: #b58e0f;
}

@media (max-width: 500px) {
  body h3 {
    font-size: 25px;
  }
  body header .logo a img {
    width: 35px;
    height: 35px;
  }
  body header nav li a span, body header ul li a span {
    font-size: 12px;
  }
  body .mainCarrousel {
    width: 100%;
  }
  body .container .profile-name {
    font-size: 25px;
  }
  body .container .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .container .profile .profile-pic {
    margin-right: 10px;
  }
  body .container .profile .profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  body .container .description {
    display: flex;
    flex-direction: column;
  }
  body .container .description .card {
    width: 100%;
  }
  body .container .description, body .container .productContainer, body .container .social {
    margin: 8px;
    width: 100%;
    height: 100%;
    position: relative;
    animation: moves-staff 4s 1;
  }
  body .container .contact-info .social {
    display: flex;
    flex-direction: column;
  }
  body .container .contact-info .locationMap iframe {
    width: 290px;
  }
  @keyframes moves-staff {
    0% {
      left: 800px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }
  body .container .service-title {
    font-size: 20px;
  }
  body .container .service-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .container .service-presentation .service-pic {
    margin: 20px;
  }
  body .container .service-presentation .service-pic img {
    width: 200px;
    height: 200px;
  }
  body .container .service-presentation .service-list .service-subtitle {
    font-size: 20px;
  }
  body .container .service-presentation .service-list ul li h2 {
    font-size: 16px;
  }
  body .container .service-presentation .service-list ul li p {
    font-size: 12px;
  }

  .footerContainer .footerNav {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
