@import "_reset";
@import "_variables";

body{
    h2{
        font-family: $font-title;
        font-size: 20px;
      }
      p{
          font-family: $font;
          font-size: 14px;
      }


header{
    background-color:$white;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 10;
    width: 100%;
    .mainNav{
    margin: 30px;  
    display: flex;
    justify-content: space-between;
    .menu{
        ul{
            display: flex;
            justify-content: space-around;
            color: $grey;
            li{
               padding: 0 10px;
               a{
                  text-decoration: none;
                  color:$dark-grey;
                  font-family: $font;
                  &:hover{
                      font-weight: bold;
                    }
                 }
                }

            }
        }
    }   
}
#inicio{
    margin-top:80px;
    .mainCarrousel{
    #carouselExampleFade{
        .carousel-inner{
            margin: auto;
            width: 100%; 
            .carousel-item .active{
                .imgsize{
                    height: 300px;
                }}}

}
   
   }
   
}
.mainBannerMob{
    display: none;
}
.container{
  display: flex;
  align-items: center;  
  margin-top: 40px;
    .staffDescription{
      margin: 40px;
      display: flex;
     flex-direction: column;
    }
    .productContainer{
      margin: 40px;  
      display: flex;
      flex-direction: column;
        .seeMore
        {margin: 20px;
            a{
            font-family: $font;
            text-decoration: none;
            text-transform: uppercase;
            color:$purple;
            font-weight: bold;
            text-align: center;
            padding:5px;
            &:hover{
                background-color: $purple;
                color:$white;
                
            }
        }
        }
    }
    .social{
        margin: 40px;
        p{
        margin: 20px;
        a{

            color:$dark-grey;
        i{
            margin-right: 5px;
        }
    }
    }
    
    }
            
        }
    .footerContainer{
        margin-top: 10px;
        background-color:$white ;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                margin: 2px;
                a {
                color:$dark-grey;
                i{
                margin-right: 2px;
            }}
        }
    }
    }
        
@media (max-width: $breakpoint-mobile){
    .mainNav{
        .menu{
            display: none;
                }
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30px;
        margin: 10px
    }
    .mainCarrousel{
        display: none;
    }
    .mainBannerMob{
        display: block;
        img{
        width: 100%;
    }
    }
    .container{
        margin-top: 10px;
        .staffDescription, .productContainer, .social{
            margin: 10px;
        }
        .imgstaff, .imgProd, .locationMap {
            display: none;
        }
    
    
    }
    }}
    
    
   