@import "_reset";
@import "_variables";

body{
    h2{
        font-family: $font-title;
        font-size: 20px;
        color: $font-color;
      }
      p{
          font-family: $font;
          font-size: 14px;
          color: $font-color;

      }
      h3{
        font-family: $font-title;
        font-size: 30px;
        color: $logo-color;
        text-align: center;
        margin: 50px 0 10px 0 ;

    }
       


header{
    background-color:$white;
    display: flex;
    justify-content: space-evenly; 
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 10;
    width: 100%;
    align-items: center;
    padding: 10px;
    .logo{
        a{
            img{
                width: 50px;
                height: 50px;
            }
        }
        display: flex;
        justify-content: center;
    }
    nav, ul{
        display: flex;
        li{
            padding-right: 15px;
            a{
                text-decoration: none;
                color: $logo-color;
                span{
                    font-family: $font-title;
                    font-size: 20px;
                }
            }
        }
    }
 }

.main-container{
    width: 100%;
    margin-top:65px;
    #inicio{
        .mainCarrousel{
        #carouselExampleFade{
            .carousel-inner{
                margin: auto;
                width: 100%; 
                .carousel-item .active{
                    .imgsize{
                        height: 300px;
                    }}}

    }
    
        }
    
    }
}
.mainBanner{
    img{
    width: 100%;  
  }
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;
  .profile-name{
      font-family: $font-title;
      color:$logo-color;
      font-size: 40px;
      margin:10px;
  }
    .profile{
        margin:10px;
        display: flex;
        .profile-pic{
            margin-right: 10px;
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
        }
        .profile-extract{
            p{
            font-family: $font;
            color:$font-color;
            font-style: italic;
            text-align: center;
          }
        }
    }
    .description{
      margin: 10px;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      .card{
        width: 300px;        
        margin: 8px; 
        text-align: center;
        height: 50px;
        display: flex;
        border: 0px solid rgba(0,0,0,.125);
        .card-inner {    
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            background-color: transparent;
            width: 100%;  
            border: 3px solid $logo-color;
            box-sizing: border-box;
            border-radius: 10px;
                    a{
                        text-decoration: none;
                        p{
                            margin: 12px 0px;

                        }
                    }
                    
                }
                
            }
    }
    .contact-info{
     .social{
         display: flex;
        h2{
            margin-top:65px;
        }
        p{
        margin: 10px;
            a{
                text-decoration: none;
                color:$dark-grey;
                i{
                    margin-right: 5px;
                    color:$logo-color
                        }
                }
        }
        }
    .locationMap{
        iframe{
            width: 800px;
        }
            }
        }
    }
                   }
            
    
       .procedimientos-nav{
           width: 40%;
           display: flex;
       }
                   .procedimientos-sec{
                       width: 60%;
                    display: flex;
                    flex-direction: column;
                    
                    .imgProd{
                        img{
                        display: flex;
                        width: 100%;
                        }
                    }
                    h3{
                        color:$logo-color;
                        margin-top:65px;
                    }
                    
                               
                                }
            


    .footerContainer{
        margin-top: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        position: relative;
        bottom: 0px;
        .footerNav{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 0;
            p{  
                margin: 2px;
                font-size: 12px;
                margin: 5px;
                a {
                 text-decoration: none;
                color: $logo-color;
                    i{
                    margin-right: 2px;
                    }
                }
            }
        }
        .copyright{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 0;
            p{  
                margin: 2px;
                font-size: 12px;
                font-weight: bold;
                span{
                    color:$logo-color
                }
                }
            }
    }


        
@media (max-width: $breakpoint-mobile){
body{
    h3{
        font-size: 25px;
    }
    header{
        .logo{
           a{
               img { 
                   width: 35px;
                   height: 35px;
                }
            }
        }
        nav, ul{
            li{
                a{
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .mainCarrousel{
        width: 100%;
    }
    
    
    .container{
        .profile-name{
            font-size: 25px;
        }
          .profile{
              display: flex;
              flex-direction: column;
              align-items: center;
              .profile-pic{
                  margin-right: 10px;
                  img{
                      width: 100px;
                      height: 100px;
                      border-radius: 50%;
                  }
              }
              .profile-extract{
              }
          }
          .description{
            display: flex;
            flex-direction: column;
           
            .card{
              width: 100%;        
                  }
          }
        .description, .productContainer, .social{
            margin: 8px;
            width: 100%;
            height: 100%;
            position: relative;
            animation: moves-staff 4s 1;
        }
        .contact-info{
            .social{
                display: flex;
                flex-direction: column;
            }
            .locationMap{
                iframe{
                    width: 290px;
                }
            }
        }
        @keyframes moves-staff {
            0%  {left:800px; top:0px;}
            100% { left:0px; top:0px;}
          }
        
    }
    }
    .footerContainer{
        .footerNav{
            display: flex;
            flex-direction: column;
        }
    }
}



      
   

    // color gris para complemento. Light grey. 
    // en mobile: banner. No se ve
    // sacar el footer. 
    //  poner mas imagenes para mobile
    // redefinir flipper. 
    // mas servicios: van a estar dividos en diferentes secciones. 
    // presentacion mica. 
    