@import "_reset";
@import "_variables";

body{
    h2{
        font-family: $font-title;
        font-size: 20px;
        color: $font-color;
      }
      p{
          font-family: $font;
          font-size: 14px;
          color: $font-color;

      }
      h3{
        font-family: $font-title;
        font-size: 30px;
        color: $logo-color;
        text-align: center;

    }
       


header{
    background-color:#FFF;
    display: flex;
    justify-content: space-evenly; 
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 10;
    width: 100%;
    align-items: center;
    padding: 10px;
    .logo{
        height: 170px;
        box-sizing: border-box;
        a{
            img{
                width: 200px;
            }
            
        }
        display: flex;
        justify-content: center;
        
    }
    nav, ul{
        display: flex;
        li{
            padding-right: 20px;
            a{
                text-decoration: none;
                color: $logo-color;
                span{
                    font-family: $font-title;
                    font-size: 20px;
                }
                &:link{
                    text-decoration: none;
                    
                }
                &:hover{
                    color:$dark-grey
                }
            }
        }
    }
    .wa-logo{
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 40px;
        background-color: #25d366;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 3px 4px 3px #999;
        right: 35px;
        z-index: 100;
        a{
            text-decoration: none;
            color: #FFF;
        }
    }
    .my-float {
        margin-top: 10px;
        
    }
 }

.main-container{
    width: 100%;
    margin-top:65px;
    #inicio{
        .mainCarrousel{
        #carouselExampleFade{
            .carousel-inner{
                margin: auto;
                width: 100%; 
                .carousel-item .active{
                    .imgsize{
                        height: 300px;
                    }}}

    }
    
        }
    
    }
}
.mainBanner{
    img{
    width: 100%;  
  }
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
  #present{
      padding-top: 70px;
  }
  .profile-name{
      font-family: $font-title;
      color:$logo-color;
      font-size: 40px;
      padding:30px;
  }
  .profile-profession{
      padding:10px;
      font-size: 30px;
  }
    .profile{
        margin:10px;
        display: flex;
        .profile-pic{
            margin-right: 10px;
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
        }
        .profile-extract{
            p{
            font-family: $font;
            color:$font-color;
            font-style: italic;
            text-align: center;
          }
        }
    }
    .services{
        #cirugia{
            padding-top: 70px;
        }
        #estetica{
            padding-top: 70px;
        }
        .services-container{
            .description{
            margin: auto;
            padding-top: 30px;
            display: flex;
            width: 80%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .card{
                width: 300px;        
                margin: 8px; 
                text-align: center;
                height: 50px;
                display: flex;
                border: 0px solid rgba(0,0,0,.125);
                .card-inner {    
                    border-radius: 10px;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    background-color: transparent;
                    width: 100%;  
                    border: 3px solid $logo-color;
                    box-sizing: border-box;
                    border-radius: 10px;
                            a{
                                text-decoration: none;
                                p{
                                    margin: 12px 0px;
                                    text-transform: uppercase;
                                }
                            }
                            
                        }
                        
                    }
                }
            }
    }
    #contacto{
        padding-top: 70px;
        
    }
    .contact-info{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
     .social{
         display: flex;
        p{
        margin: 10px;
            a{
                text-decoration: none;
                color:$dark-grey;
                i{
                    margin-right: 5px;
                    color:$logo-color
                        }
                }
        }
        }
    .locationMap{
        iframe{
            width: 800px;
        }
            }
        }
    

        .service-title{
            padding-top: 40px;
            width: 70%;
            color:$logo-color;
            font-size: 40px;
            text-align: center;
            text-transform:capitalize
        }
        .service-presentation{
            width: 100%;
            display: flex;
            margin-top:30px;
            align-items: center;
            
        .service-list{
            display: flex;
            align-items: center;
            flex-direction: column;
            .service-subtitle{
            text-transform: uppercase;
            text-align: center;
            margin: 10px;
            font-size: 30px;
            }
            ul{
                padding: 10px;
                background-color: $light-grey;
                li{
                    padding:10px;
                    h2{
                        font-size: 20px;
                        text-transform: uppercase;
                        padding: 10px;
                    }
                    p{
                        font-size: 15px;
                        text-transform: initial;
                        
                    }
                    ul{
                        li{
                        list-style-type: circle;
                        text-transform: initial;
                        font-family: $font;
                        font-size: 12px;
                    }
                    }
                }
            }
            .service-pic{
                margin: 40px;
                align-content: center;
                img{ 
                border-radius: 50%;;
                width: 400px ;
                 height: 400px;
                 }
             }
        }
    }
}
            

    
            


    .footerContainer{
        margin-top: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        position: relative;
        bottom: 0px;
        .footerNav{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 0;
            p{  
                margin: 2px;
                font-size: 12px;
                margin: 5px;
                a {
                 text-decoration: none;
                color: $logo-color;
                    i{
                    margin-right: 2px;
                    }
                }
            }
        }
        .copyright{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 0;
            p{  
                margin: 2px;
                font-size: 12px;
                font-weight: bold;
                span{
                    color:$logo-color
                }
                }
            }
    }
}

        
@media (max-width: $breakpoint-mobile){
body{
    h3{
        font-size: 25px;
    }
    header{
        .logo{
            height: 85px;
            box-sizing: border-box;
            padding-right: 15px;
           a{
               img { 
                   width: 100px;
                }
            }
        }
        nav, ul{
            li{
                a{
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .mainCarrousel{
        width: 100%;
    }
    
    
    .container{
        .profile-name{
            font-size: 25px;
        }
        .profile-profession{
            font-size: 20px;
        }
          .profile{
              display: flex;
              flex-direction: column;
              align-items: center;
              .profile-pic{
                  margin-right: 10px;
                  img{
                      width: 100px;
                      height: 100px;
                      border-radius: 50%;
                  }
              }
          }
         .services{ 
            .services-container{ 
                .description{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 30px;
                    position: relative;
                    animation: moves-staff 4s 1;
                    .card{
                    width: 100%;        
                        }
            }
        }
    }
        .social{
            margin: 8px;
            width: 100%;
            height: 100%;
            position: relative;
            animation: moves-staff 4s 1;
        }
        .contact-info{
            .social{
                display: flex;
                flex-direction: column;
            }
            .locationMap{
                iframe{
                    width: 290px;
                }
            }
        }
        @keyframes moves-staff {
            0%  {left:800px; top:0px;}
            100% { left:0px; top:0px;}
          }
          .service-title{
              font-size: 20px;
          }
          .service-presentation{
              display: flex;
              flex-direction: column;
              align-items: center;
              
              .service-list{
                .service-pic{
                    margin: 20px;
                    img{
                        width: 200px;
                        height: 200px;
                    }
                }
                  .service-subtitle{
                      font-size: 20px;
                  }
                  ul{
                      li{
                          h2{
                              font-size: 16px;
                          }
                          p{
                              font-size: 14px;
                          }
                      }
                  }
              }
          }
    }
    }
    .footerContainer{
        .footerNav{
            display: flex;
            flex-direction: column;
        }
    }
}



      
   

    // color gris para complemento. Light grey. 
    // en mobile: banner. No se ve
    // sacar el footer. 
    //  poner mas imagenes para mobile
    // redefinir flipper. 
    // mas servicios: van a estar dividos en diferentes secciones. 
    // presentacion mica. 
    